// loading community styles
@use "ag-grid-community/styles" as ag;
@import "~@astrouxds/ag-grid-theme/dist/main.css"

// set custom themes
@include ag.grid-styles((
    themes: (
        // add default ones
        alpine,
        alpine-dark,
        balham,
        balham-dark,
        material,
        // FIXME: this does not actually match streamlit colors, I think
        streamlit: (
            extend-theme: alpine,
            background-color: #ffffff,
            odd-row-background-color: #ffffff,
            foreground-color: #31333F,
            alpine-active-color: #ff4b4b,
            grid-size: 4px,
            header-background-color: #f8f9fb,
            borders: solid 0.5px,
            border-color: #eaeaeb,
            cell-horizontal-border: solid #eaeaeb,
            header-foreground-color: #7f838a,
            font-family: "Source Sans Pro",
            font-size: 9.5pt
        ),
        streamlit-dark: (
            extend-theme: alpine-dark,
            background-color: #0d1116,
            odd-row-background-color: #0d1116,
            foreground-color: #ffffff,
            alpine-active-color: #ff4b4b,
            grid-size: 4px,
            header-background-color: #1a1c24,
            borders: solid 0.5px,
            border-color: #303239,
            cell-horizontal-border: solid #303239,
            header-foreground-color: #7f838a,
            font-family: "Source Sans Pro",
            font-size: 14pt
        ),
        excel: (
            font-family: 'Calibri', sans-serif !default,
            foreground-color: rgba(black, 1 !default) !default,
            foreground-opacity: 1 !default,
            secondary-foreground-color-opacity: 1 !default,
	    secondary-foreground-color: rgba(#333, 1 !default) !default,
	    background-color: white !default,
	    tab-background-color: #e6e6e6 !default,
	    odd-row-background-color: white !default,
	    header-cell-moving-background-color: rgb(190, 190, 190) !default,
	    icon-color: #333 !default,
	    border-color: lightgrey !default,
	    button-background-color: transparent,
   	    cell-data-changed-color: white !default,
	    chip-background-color: #ecf0f1 !default,
	    editor-background-color: #f6f6f6 !default,
	    range-selection-background-color: rgba(120, 120, 120, 0.4) !default,
	    range-selection-highlight-color: rgba(255, 255, 255, 0.4) !default,
	    header-background-color: #f4f7f7 !default,
	    header-background-image: none !default,
	    panel-background-color: #f6f6f6 !default,
	    tool-panel-background-color: #f6f6f6 !default,
	    card-background-color: #f6f6f6 !default,
	    accent-color: black !default,
	    primary-color: black !default,
	    hover-color: white !default,
	    selected-color: #bde2e5 !default,
	    icon-opacity: 1 !default,
	    button-text-transform: uppercase,
	    card-radius: 0,
	    card-shadow: none,
	    input-height: 16px,
	    focused-cell-border-color: darkgray !default,
	    menu-option-active-color: #bde2e5 !default,
	    range-selected-color-1: rgba(120, 120, 120, 0.4) !default,
	    range-selected-color-2: rgba( 80,  80,  80, 0.4) !default,
	    range-selected-color-3: rgba( 40,  40,  40, 0.4) !default,
	    range-selected-color-4: rgba(  0,   0,   0, 0.4) !default,
	    cell-highlight-border: 2px solid darkgreen !default,
	    cell-horizontal-border: none !default,
	    value-change-delta-up-color: darkgreen !default,
	    value-change-delta-down-color: darkred !default,
	    value-change-value-highlight-background-color: #cec !default,
	    row-floating-background-folor: #f0f0f0 !default,
	    row-stub-background-color: #f0f0f0 !default
        ),
	// astro theme, from astrouxds
	astro
    ),
    // these are applied to all themes here
    grid-size: 4px !default,
    icon-size: 12px !default,
    header-icon-size: 14px !default,
    row-height: 25px !default,
    header-height: 25px !default,
    virtual-item-height: 20px !default,
    rich-select-item-height: 25px !default,
    cell-horizontal-padding: 12px !default,
    toolpanel-indent-size: 16px !default,
    row-group-indent-size: 19px !default,
    font-size: 14px @default,
    font-weight: 400 !default,
    secondary-font-family: 'Helvetica Neue', sans-serif !default,
    secondary-font-size: 14px !default,
    secondary-font-weight 400 !default,
));

@import "@fontsource/source-sans-pro"

// this should fix clipping the last column
.ag-center-cols-clipper {
    margin-right: 16px
}
